<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.videumcorp.desarrolladorandroid.navigationdrawerandroiddesignsupportlibrary" >

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FullscreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Company.Settings"
            android:label="Mi Perfil"
            android:parentActivityName=".Company.APILogin" >
        </activity>
        <activity
            android:name=".Company.APILogin"
            android:label="Escoger actividad" >
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Company.APIMain"
            android:label="Menu" >
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Company.APIRegister"
            android:label="R-Cyclo"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Company.SelectWaste"
            android:label="Seleccionar Desecho"
            android:theme="@style/AppTheme" >
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Company.SelectLatlong"
            android:label="Mapa" >
        </activity>
        <activity
            android:name=".Company.APIFormContReq"
            android:label="Formulario Contenedor"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Company.APIModifyCont"
            android:label="@string/title_activity_company_modify_container"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Establishment.APILogin"
            android:label="@string/title_activity_establishment_login"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Establishment.APIRegister"
            android:label="@string/title_activity_establishment_register"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Establishment.APIMain"
            android:label="Menu"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Company.APIEditEmail"
            android:label="Editar perfil"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Company.APIChangePass"
            android:label="Cambiar contraseña"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Establishment.APIAvailableCont"
            android:label="Mis Contenedores"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Establishment.APISettings"
            android:label="Mi perfil"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Establishment.APIEditEmail"
            android:label="Editar perfil"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Establishment.APIChangePass"
            android:label="Cambiar contraseña"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Establishment.APIDeleteCont"
            android:label="Mis contenedores"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Establishment.NewDirection"
            android:label="@string/title_activity_new_direction" >
        </activity>
        <activity
            android:name=".Establishment.APIEditAddress"
            android:label="@string/title_activity_edit_phone"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Company.SelectEst"
            android:label="Seleccionar Fundacion"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Company.APIEditAddress"
            android:label="Cambiar Direccion"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Company.WaitCont"
            android:label="En espera"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
